<div class="mt-3 d-flex justify-content-between align-items-center">
  <h3>Patients Page</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Patients</li>
    </ol>
  </nav>
</div>

<div class="mt-3">
  <div class="form-group">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12 col-12">
        <button
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#addModal"
        >
          <i class="fa-solid fa-plus me-1"></i>
          <span>Add Patient</span>
        </button>
      </div>

      <div
        class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 position-relative"
      >
        <input
          type="search"
          class="form-control"
          placeholder="Search Patient..."
          [(ngModel)]="search"
        />
        <i class="fa-solid fa-magnifying-glass search"></i>
      </div>
    </div>
  </div>

  <div class="form-group2 mt-1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Identity Number</th>
          <th>City / Town</th>
          <th>Full Address</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        @for (patient of patients | patient : search; track patient) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ patient.fullName }}</td>
          <td>{{ patient.identityNumber }}</td>
          <td>{{ patient.city }} / {{ patient.town }}</td>
          <td>{{ patient.fullAddress }}</td>
          <td>
            <button
              class="btn btn-sm btn-outline-primary me-1"
              title="Update"
              data-bs-toggle="modal"
              data-bs-target="#updateModal"
              (click)="fillUpdateModal(patient)"
            >
              <i class="fa-solid fa-edit"></i>
            </button>
            <button
              class="btn btn-sm btn-outline-danger"
              title="Delete"
              (click)="delete(patient.id, patient.fullName)"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Create Modal -->
<div class="modal fade" id="addModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Add Patient Form</h1>
        <button
          #addModalCloseBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        #addForm="ngForm"
        formValidate
        [autoValidateMessage]="true"
        autocomplete="off"
        (ngSubmit)="add(addForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              [(ngModel)]="createModel.firstName"
              name="firstName"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Last Name</label>
            <input
              type="text"
              [(ngModel)]="createModel.lastName"
              name="lastName"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Identity Number</label>
            <input
              type="text"
              pattern="^[1-9][0-9]{9}[02468]$"
              [(ngModel)]="createModel.identityNumber"
              name="identityNumber"
              class="form-control"
              required
              minlength="11"
              maxlength="11"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>City</label>
            <input
              type="text"
              [(ngModel)]="createModel.city"
              name="city"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Town</label>
            <input
              type="text"
              [(ngModel)]="createModel.town"
              name="town"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Full Address</label>
            <textarea
              name="fullAddress"
              type="text"
              [(ngModel)]="createModel.fullAddress"
              name="fullAddress"
              class="form-control"
              required
              minlength="15"
            ></textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer mt-2">
          <button type="submit" class="btn btn-dark w-100">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Update Patient Form</h1>
        <button
          #updateModalCloseBtn
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        #updateForm="ngForm"
        formValidate
        [autoValidateMessage]="true"
        autocomplete="off"
        (ngSubmit)="update(updateModel.fullName, updateForm)"
      >
        <div class="modal-body">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              [(ngModel)]="updateModel.firstName"
              name="firstName"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Last Name</label>
            <input
              type="text"
              [(ngModel)]="updateModel.lastName"
              name="lastName"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Identity Number</label>
            <input
              type="text"
              pattern="^[1-9][0-9]{9}[02468]$"
              [(ngModel)]="updateModel.identityNumber"
              name="identityNumber"
              class="form-control"
              required
              minlength="11"
              maxlength="11"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>City</label>
            <input
              type="text"
              [(ngModel)]="updateModel.city"
              name="city"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Town</label>
            <input
              type="text"
              [(ngModel)]="updateModel.town"
              name="town"
              class="form-control"
              required
              minlength="3"
            />
            <div class="invalid-feedback"></div>
          </div>
          <div class="form-group mt-1">
            <label>Full Address</label>
            <textarea
              name="fullAddress"
              type="text"
              [(ngModel)]="updateModel.fullAddress"
              name="fullAddress"
              class="form-control"
              required
              minlength="15"
            ></textarea>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary w-100">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>
